.main {
    background-image: url('../IMG/fondo.png');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    text-align: center;
}

.logo {
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.formulario {
    border: 1px solid black;
}

#important-info {
    text-align: center;
}

#contenedor-info {
    font-size: .8rem;
    line-height: 1;
}

#contenedor-info h4{
    font-size: .8rem;
}

#contenedor-info i{
    font-size: 2rem;
}

.card-text {
    font-size: .8rem;
}

#estrategias {
    background-image: url('/IMG/fondo-ajedrez.png');
    background-position: 0;
    background-repeat: no-repeat;
}

#agendar-cita {
    background-image: url('/IMG/fondo-cita.png');
    background-position: 0;
    background-repeat: no-repeat;
}
